*~
*.bak
.*.swp
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
configure.in
docs/xdt-csource.1
helpers/xfce-do-release
install-sh
missing
xfce4-dev-tools.spec
scripts/xdt-autogen
compile
config.guess
config.sub
depcomp
libtool
ltmain.sh
ChangeLog
test-driver
tests/.deps
tests/test-xdt-csource-data.c
tests/test_xdt_csource-test-*
tests/test-xdt-csource
tests/test-xdt-csource.log
tests/test-xdt-csource.trs
xfce4-dev-tools-*.tar.bz2
xdt-csource/*
!xdt-csource/Makefile.am
!xdt-csource/main.c
m4
