# Set secrets as follows to publish build environment to Docker Hub:
# CI_REGISTRY_USER=your_user
# CI_REGISTRY_PASSWORD=********

variables:
  CI_REGISTRY: "docker.io"
  CI_REGISTRY_IMAGE: "index.docker.io/xfce/xfce-build"
  DOCKER_TLS_CERTDIR: "/certs"

xfce-build-container:
  image: docker:19.03.8
  stage: build
  services:
    - docker:19.03.8-dind
  variables:
    IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
    LATEST_TAG: $CI_REGISTRY_IMAGE:latest
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $IMAGE_TAG -t $LATEST_TAG .
    # This will push to the master tag
    - docker push $IMAGE_TAG
    # May eventually want to add some tests before latest is pushed?
    - docker push $LATEST_TAG
  rules:
    # Set to only run on official repo/master when there are relevant changes
    - if: '$CI_PROJECT_PATH == "xfce/xfce4-dev-tools" && $CI_COMMIT_BRANCH == "master"'
      changes:
        - "Dockerfile"
        - "ci/build_libs.sh"
      when: always
