*.bak
.*.swp
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
configure.in
docs/xdt-csource.1
install-sh
missing
xfce4-dev-tools.spec
scripts/xdt-autogen
scripts/xdt-autogen.in
compile
config.guess
config.sub
configure.ac
depcomp
libtool
ltmain.sh
ChangeLog
tests/test-xdt-csource-data.c
xfce4-dev-tools-*.tar.bz2
xdt-csource/*
!xdt-csource/Makefile.am
!xdt-csource/main.c
m4
